@mixin paddings-top($value){
    padding: 0 $value;
}

@mixin regular-font(){
   color: $primary-color;
   font-size: 1rem;
   font-weight: map-get($font-weights ,regular);
}
@mixin flex($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}