@import './resets';
@import './variables';


@mixin flex($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}
body{
    width: 100%;
    margin: 0 auto;
    padding: $xs $xs;

    .grid{
        display: grid;
        border: 1px solid black;
        grid-gap: $m;
    }
       
nav{
   padding:10px;
   display: flex;
   justify-content: space-between;
    .logo
    {    
        height: 30px;
        width: 50px;
    }
    ul
    {
        @include flex(column, flex-end );
        display: none;
    li
    {
        list-style: none;
        padding: 1rem 0.5rem;
    }
    }
}
.hero{
    img{
        height: 500px;
        width: 100%;
    }
}
.news{
    padding: 1.25rem;
    color:$text-color;
    background-color: $accent-color;
    hr{
        margin: 2rem 0;
    }
    h2{
        padding-bottom: $xs;
    }
    .new-title{
        line-height: 1.5rem;
        font-size: $font-subheader;
        font-weight: 500;
        p{
            font-size: 0.90rem;            
        }  
         }
    }
}
