@import './resets';
@import './variables';
@import './mixins';


@mixin flex($direction, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}
body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: $xs $xs;

    .grid{
        display: grid;
            grid-gap: $l;
    }
    h1{
        color: $accent-color;
        font-weight: 800;
        padding: 1rem 0;
    
    }
  
nav{
   padding:10px;
   display: flex;
   justify-content: space-between;
    .logo
    {    
        height: 30px;
        width: 50px;
    }
        .overlay
    {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);   
    }
    .menu-container{
        position: absolute;
        right: 0;
         width:70%;
        height: 100%;
        background-color: white;
        .close{
            position:fixed;
            right:20px;
            top: 40px;
        }
        ul{
            margin-top: 100px;
            @include flex(column,justify-content )
        }
      
        li{
            list-style: none;
            padding: 1rem 2rem;
            font-weight: 500;
            color: $accent-color;
        }
 
    }
}
.hero{
    img{
        height: 500px;
        width: 100%;
    }
    button{
        padding: 10px 25px;
        letter-spacing: 3px;
        color:white;
        background-color: rgb(255, 65, 65);
        border: none;
        font-weight: bolder;
    }
    p{
        line-height: 2rem;
        padding-bottom: 1rem;
        color:rgb(75, 75, 75);
    }
       
}
.news{
    padding: 1.25rem;
    color:$text-color;
    background-color: $accent-color;
    hr{
        margin: 2rem 0;
    }
    h2{
        padding-bottom: $xs;
    }
    .new-title{
        line-height: 1.5rem;
        font-size: $font-subheader;
        font-weight: 500;
        p{
            font-size: 0.90rem;             
        }  
         }
 }
.bottom{
        display: flex;
        flex-direction: column;
        .bot-item
        {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        color: $accent-color;
          } .pc-image
          {
            height: 175px;
        }
       .text{
        line-height: 2rem;
        padding: 0 1.5rem;
        font-size: 1.5re;
       }.num{
            font-size: 2.5rem;
            font-weight:800;
            color:$text-lighten;
        }
        p{
            color:rgb(75, 75, 75);
        }
        h3{
            font-weight: 800;
        }
       }
    }
