$primary-color:#272727;
$accent-color:#00001a;
$text-color:#ffff;
$text-lighten:#8a8a8a;
$text-yellow:#ffa930;
$text-pink:#f24b49;
$font-weights:(
    "light": 200,
    "regular": 400,
    "medium": 500,
    "large": 700
);

$font-large:5rem;
$font-medium:3.5rem;
$font-regular:1.10rem;
$font-header:1.5rem;
$font-subheader:1.25rem;


$xs:1rem;
$s:2rem;
$m:3rem;
$l:5rem;    
$xl:8rem;

