$primary-color:#272727;
$accent-color:#00001a;
$text-color:#ffff;
$font-weights:(
    "regular": 400,
    "medium": 500,
    "large": 700
);

$font-header:1.5rem;
$font-subheader:1.25rem;

$xs:1rem;
$s:2rem;
$m:3rem;
$l:5rem;
$xl:8rem;